*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.stopwatch{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 24px 20px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 300px;
}

.timerDisplay{
    font-size: 50px;
    font-weight: 600;
}

.btn{
    font-size: 20px;
    border: none;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    margin-inline: 12px;
    cursor: pointer;
   font-weight: 500;
}